*{
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif 'work Sans', sans-serif;
}

.container{
    background-color:#FCEEF1;
    display: flex;
    height: 440px;
    padding-left: 250px;

}
.banner1a{
    margin: 100px;
    width: 400px;
}
.banner1b{
    align-items: end;
}
.banner1a h1{
    font-size: 40px;
}
.banner1a p{
    margin-top: 10px;
    font-size: smaller;
    color: gray;
}
.ban-img1{
    margin-top: 40px;
    height: 400px;
    width: 350px;
   
}
.pink-btn{
    background-color: #E55473;
    border-radius: 8px;
    color: white;
    padding: 10px 20px;
    border-color: #E55473;
    margin-top: 20px;
    
    
}


/*feature*/
.feature{
    margin-top: 50px;
    padding-left: 240px;
    padding-right: 240px;
}
.tree{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-items: center;
}
.feature-div1{
    
}
.align{
    text-align: center;
}
.flower{
    border-radius: 300px 300px 0 0;
    height: 480px;
    width: 350px;
    display: inline-flex;
    align-items: flex-start;
    gap: 24px;
}
.tree-1{
    background-color: #FCEEF1; 
}
.tree-1 img{
    margin-top: 23px;
    padding: 30px;
    padding-left: 10px;
}

.tree-2{
    background-color: #D9EFF1;
}
.tree-3{
    background-color: #E3EBDB;
}
.tree-3 img{
    margin-top: 10px;
   /*  padding: 30px;*/
    padding-left: 10px; 
}
.flow-img1{
    height: 100px;
    margin-top: 200px;
}
.pink-tree{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    margin-top: 20px;
    margin-bottom: 20px;
}

.icons{
    width: 68%;
    height: 300px;
    background-color: #e7d1d6;
    margin-bottom: 30px;
    margin-left: 240px;
    margin-right: 240px;
   
}
.icon{
    margin-top: 100px;
    padding-top: 100px;
    display: flex;
    justify-content: space-evenly;
 
}
.icon-text{
    padding-top: 30px;
    display: flex;
    justify-content: space-evenly;
    font-size: smaller;
    color: gray;
}
.wel-color{
    color: #E55473;
}

.container2{
    background-color:#FCEEF1;
    display: flex;
    padding-left: 250px;
    margin-bottom: 20px;
}
.banner2a h1{
    margin-bottom: 20px;
}
.banner2a p{
    font-size: smaller;
    color: gray;
}
.banner2a{
    margin: 150px 90px;
    width: 400px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.banner2b{
    margin-top: 70px;
}
.ban-img2{
    width: 218px;
height: 320px;
flex-shrink: 0;
}
.subscribe-sec{
    background-image: url(../Flower-Asset/Rectangle9.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 70%;
    height: 300px;
    margin-left: 200px;
    margin-right: 240px;
    border-radius: 8px;
    text-align: center;


}
.deals{
    padding: 90px 15px 0 0;
    text-align: center;
    margin-bottom: 20px;
}

.subscribe-div input{
    height: 35px;
    width: 500px;
}
footer{
    margin-top: 100px;
}
footer div{
    color: white;
    background-color:#282525;
    text-align: center;
    padding-top: 4%;
   
}